<header class="border-b shadow-md p-3 w-full max-h-20  top-0 z-50 bg-white">
  <mat-toolbar class="flex align-middle items-center justify-between max-w-screen-2xl mx-auto">
    <button mat-icon-button (click)="toggleMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    <button  routerLink="/" mat-button>
      <span>Mi Proyecto</span>
    </button>
    <div>
      <button routerLink="/account/login" mat-stroked-button class="m-2">Login</button>
      <button routerLink="/account/register" mat-stroked-button class="m-2">Register</button>
    </div>
  </mat-toolbar>
</header>